body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: large;
    color: brown;
    margin: 0px;
}

.background-image {
    background-image: url("./assets/basketball-court.jpeg");
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    width: 100vw;
    height: 100%;
    /* opacity: 0.5; */
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 20px;
}

.section {
    margin: 20px;
}

.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding: 20px 10px;
    padding: 0px 80px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer-display {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 900
}

#start-button {
    font-size: 20px;
    width: 150px;
    height: 80px;
    background-color: green;
    color: white;
    font-weight: 1000;
    border-radius: 20px;
}

#start-button:hover {
    border: 5px solid white;
}

#team-1-score {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#team-2-score {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#team-1-name {
    color: olivedrab;
    font-size: 40px;
}

#team-2-name {
    color: orangered;
    font-size: 40px;
}


#scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

#playfeild {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
}

.basketball-court {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.basket-video {
    width: 500px;
    /* height: 500px; */
    border: 10px solid;
}

#result-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: rgb(252, 222, 55); */
}

.basketball-court p {
    font-weight: bold;
}

.team-section p {
    margin-top: 0px;
    font-size: 30px;
}

#team-1-key {
    font-size: 60px;
    color: olivedrab;
}

#team-2-key {
    font-size: 60px;
    color: orangered;
}

#result-section h2 {
    font-size: 30px;
}

#result-section p {
    font-size: 25px;
    font-weight: bold;
}